{% extends 'base3.html' %}

{% block content %}
<style>
     .row {
        text-align: left;
    }
    .main-content{
        width: 55%;
        border-radius: 20px;
        box-shadow: 0 5px 5px rgba(0,0,0,.4);
        margin: 5em auto;
        display: flex;
    }
    .company__info{
        background-color: rgb(101, 26, 172);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    .fa-android{
        font-size:3em;
    }
    @media screen and (max-width: 640px) {
        .main-content{width: 90%;}
        .company__info{
            display: none;
        }
        .login_form{
            border-top-left-radius:20px;
            border-bottom-left-radius:20px;
        }
    }
    @media screen and (min-width: 642px) and (max-width:800px){
        .main-content{width: 70%;}
    }
    .row > h2{
        color:rgb(101, 26, 172);
    }
    .login_form{
        background-color: #fff;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        border-top:1px solid #ccc;
        border-right:1px solid #ccc;
    }
    form{
        padding: 0 2em;
    }
    .form__input{
        max-width: 100%;
        border:0px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline:none;
        margin:1.5em auto;
        transition: all .5s ease;
    }
    .form__input:focus{
        border-bottom-color: rgb(101, 26, 172);
        box-shadow: 0 0 5px rgba(0,80,80,.4); 
        border-radius: 4px;
    }
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: auto;
    }

    .form-group label {
        flex: 1;
        margin-right: 10px;
    }

    .form-group .form__input {
        flex: 2;
    }
    .btn{
        transition: all .5s ease;
        width: 70%;
        border-radius: 30px;
        color:rgb(101, 26, 172);
        font-weight: 600;
        background-color: #fff;
        border: 1px solid rgb(101, 26, 172);
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    .btn:hover, .btn:focus{
        background-color: rgb(101, 26, 172);
        color:#fff;
    }
</style>

<div class="body">
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
                <h2 ><b>FitFusion</b></h2>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 10px;">
                        <h2 style="margin-left: 10rem;"><b>Register</b></h2>
                    </div>
                    <div class="row" style="margin-right: 10px;">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                <input type="username" name="username" id="username" class="form__input" placeholder="username">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                <input type="email" name="email" id="email" class="form__input" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}">Password:</label>
                                <input type="password" name="password1" id="password1" class="form__input" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
                                <input type="password" name="password2" id="password2" class="form__input" placeholder="Re-enter Password">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn" style="margin: auto;">Register</button>
                            </div>
                        </form>
                        <div class="row">
                            <p>Already have an account! <a href="{% url 'login' %}" >Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
